body {
    color: #f5f5f5;
    background-color: #333;
}
.navbar-fixed-top {
    box-shadow: none;
}
.table-striped > tbody > tr:nth-child(odd) {
    background-color: #474747;
}
table thead th {
    background-color: #333;
}
text {
    fill: white;
}
